header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: black;
  z-index: 1;
  

  .logo {
    img {
      width: 250px;
      margin-top: 1vw;
    }
  }

  .language-button {
    cursor: pointer;
    margin-left: auto;
    margin-right: 7vw;

    &.menu-open {
      color: white;
      z-index: 2;
    }
  }

  .menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    z-index: 2;
    margin-right: 2vw;

    .close-icon {
      color: white;
    }

    .bar {
      background-color: black;
      height: 3px;
      width: 25px;
      margin: 3px 0;
      transition: background-color 0.3s ease-in-out;
    }

    &.open {
      transform: translateX(-100%);
      .bar {
        background-color: white;
      }
    }
  }

  .menu {
    position: fixed;
    top: 50%;
    right: 0;
    height: 100vh;
    width: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    transform: translateY(-50%);
    transition: transform 1s ease-in-out;
    z-index: 1;

    .menu-item {
      color: white;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      cursor: pointer;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: gray;
      }
    }

    &.open {
      transform: translateX(0);
    }
  }
}
